a{
    text-decoration: none;
}

body {
    background: #F0F4F5;
    overflow-x: hidden;
}


header{
    display: flex;
    justify-content: center;
   
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    align-items: center;
    h1{
        animation: slide-left 1s;
    }
    p{
        color: #9398A0;
    }
}

.form{
    transform: filter 0.5s;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        display: flex;
        flex-direction: column;
        
    }

    &__condition{
        display: flex;
        .clickcable{
            color: rgb(98, 157, 245);
            text-decoration: underline;
            cursor: pointer;
        }
        
        label{
            font-family: 'Poppins', sans-serif;
            margin-left: 10px;
            a{
                color: rgb(98, 157, 245);
                text-decoration: underline;
            }
        }
    }
    .small{
        font-size: 13px;
    }
    &__input{
        border: none;
        height: 64px;
        width: 40vw;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 20px;
        font-size: 20px;
   
    }
    &__input:focus{
        outline: none;
    }
    &__radio{
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        margin-bottom: 20px;
        p{
            font-family: 'Poppins', sans-serif;
            font-size: 20px; 
            font-weight: 900;
            color: #757575;
        }

    }
    &__select{
        border: none;
        height: 64px;
        width: 40vw;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 20px;
        font-size: 20px;
        background-color: white;
        color: #9398A0;
    }

    &__container{
        height: 64px;
        width: 40vw;
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        .form__double{
            flex-basis: 48%;
            border: none;
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            background-color: white;
            color: #9398A0;
            
        }
        .form__double:focus{
            outline: none;
        }
    }
}

.input__submit{
    height: 64px;
    background-color: #555C6B;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
    color: white;
    margin-top: 10px;
}

.popup{
    position: absolute;
    left: 25%;
    top: 25%;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    height: 50vh;
    width: 50vw;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    z-index: 1;

    .first-part{
        flex-basis: 50%;
        .header{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            img{
                width: 30px;
                height: 30px;
                margin-right: 10px;
                margin-top: 10px;
                cursor: pointer;
            }
        }
        .logo-container{
            display: flex;
            justify-content: center;
            .circle{
                width: 100px;
                height: 100px;
                background: #7DBAAC;
                border-radius: 50%;
            }
        }
        .text_sucess{
            width: 100%;
            display: flex;
            justify-content: center;
            height: 60px;
        }
        .subtext_sucess{
            font-size: 15px;
            font-weight: 100;
            display: flex;
            justify-content: center;
        }
    }
    .bottom-popup{
        flex-basis: 50%;
        background-color: #7DBAAC;
        display: flex;
        justify-content: center;
        align-items: center;
        .link{
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #576170;
            color: white;
            height: 50px;
            width: 150px;
            cursor: pointer;
        }
    }
}

.close{
    display: none; 
}

.condition-popup{
    z-index: 1 ;
    display: none;
    position: absolute;
    left: 25%;
    top: 50%;
    background-color: white;
    
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 50vw;
    height: 50vh;
    &__header{
        width: 100%;
            display: flex;
            justify-content: flex-end;
            img{
                width: 30px;
                height: 30px;
                margin-right: 10px;
                margin-top: 10px;
                cursor: pointer;
            }
    }
    &__body{
        height: 80%;
        overflow-y: scroll;
        display: flex;
        justify-content: center;
        p{
           width: 90%; 
        }
        
    }
}

.darker{
    filter: blur(4px);
   
}